<% @posts.each do |post| %>
  <p><%= link_to post_path(post) do%>
        <%= post.message %>
      <% end %>
        <%= link_to "Delete", post_path(post), method: :delete%>
        
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
